<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Quote Request</h1>
    <%= simple_format @message.raw_body %>
  </body>
</html>