<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Quote Request</h1>
    <p>Thank you for submitting your request, a representative will get back to you shortly.
    </p>
    <ul>
      <% @quote.quote_fields.each do |field| %>
        <li>
          <%= field.to_s + ": " + (@quote.send(field) || "") %>
        </li> 
      <% end %>
    </ul>
  </body>
</html>