<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Quote Request</h1>
    <p>Thank you for submitting your request, a representative will get back to you shortly.
    </p>
    <ul>
      <% @quote.quote_fields.each do |field| %>
        <li>
          <% if @quote.send(field).class == ActiveSupport::TimeWithZone %>
            <%= field.to_s + ": " + (@quote.send(field).strftime("%I:%M %p")) %>
          <% else %>
            <%= field.to_s + ": " + (@quote.send(field).to_s || "") %>
          <% end %>
        </li> 
      <% end %>
    </ul>
  </body>
</html>