 <ul>
  <li class="active"><a href="/profile-settings">Profile Settings</a></li>
  <li><a href="/change-password">Change Password</a></li>
  <li><a href="/history">History/Reward Points</a></li>
  <li><%= link_to("Sign Out", destroy_customer_session_path, method: :post) %></li>
</ul>