<div class="container">
  <br/>
  <div class="col-md-6 col-sm-6">
    <h3>How to manage the fleet</h3>
    <div class="video_box">
      <iframe class="mfp-iframe" src="https://www.youtube.com/embed/_F33lFBvPyE" allowfullscreen></iframe>
    </div>
  </div>

  <div class="col-md-6 col-sm-6">
    <h3>How to assign quotes</h3>
    <div class="video_box">
      <iframe class="mfp-iframe" src="https://www.youtube.com/embed/RVq_RTzv9Fc" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-md-6 col-sm-6" style="padding-top:40px;">
    <h3>Invoice creation process</h3>
    <div class="video_box">
      <iframe class="mfp-iframe" src="https://www.youtube.com/embed/vWqvDIHC10s" allowfullscreen></iframe>
    </div>
  </div>
</div>
