<table>
  <tr>
    <td>Date Reserved: <%=  %></td>
    <td>Sales Rep: <%=  %></td>
    <td>Date Needed: <%=  %></td>
  </tr>
  <tr>
    <td>Name:</td>
    <td></td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td>Email:</td>
  </tr>
  <tr>
    <td>Vehicle:</td>
    <td>Time:</td>
  </tr>
  <tr>
    <td>Itinerary:</td>
  </tr>
  <tr>
    <td>Handicap Accessible Required:</td>
    <td>Public:</td>
    <td>Method of Pay:</td>
  </tr>
    <tr>
    <td>Rate:</td>
    <td>Sales Tax:</td>
  </tr>
  <tr>
    <td>Deposit:</td>
    <td>Amount due:</td>
  </tr>
  <tr>
    <td>Additional Charges:</td>
    <td>Total Amount Collected:</td>
  </tr>
</table>  