<!--Page Header-->
<section class="page-header compare_page">
  <div class="container">
    <div class="page-header_wrap">
      <div class="page-heading">
        <h1>Job Opportunities</h1>
      </div>
      <ul class="coustom-breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Job Opportunities</li>
      </ul>
    </div>
  </div>
  <!-- Dark Overlay-->
  <div class="dark-overlay"></div>
</section>
<!-- /Page Header--> 

<!--Compare-->
<section class="compare-page inner_pages">
  <div class="container">
    <div class="compare_info">
      <h4>Come join our team!</h4>
      <div class="compare_product_img">
        <div class="inventory_info_list">
          <ul>
            <li><a href="#"><img src="/assets/images/jobs/bus-driver.jpg" alt="image"></a></li>
            <li><a href="#"><img src="/assets/images/jobs/bus-assistant.jpg" alt="image"></a></li>
            <li><a href="#"><img src="/assets/images/jobs/dispatcher.jpg" alt="image"></a></li>
            <li><a href="#"><img src="/assets/images/jobs/mechanic.jpg" alt="image"></a></li>
          </ul>
        </div>
        
      </div>
      <div class="compare_product_title gray-bg">
        <div class="inventory_info_list">
          <ul>
            <li class="listing_heading" id="driver-job-info"><a href="#">Drivers</a><span class="td_divider"></span></li>
            <li class="listing_heading" id="bus-assist-job-info"><a href="#">Bus assistants</a><span class="td_divider"></span></li>
            <li class="listing_heading" id="dispatcher-job-info"><a href="#">Dispatchers</a><span class="td_divider"></span></li>
            <li class="listing_heading" id="mechanic-job-info"><a href="#">Mechanics</a><span class="td_divider"></span></li>
          </ul>
        </div>
      </div>
      <div class="drivers-job-info job-desc"> 
        <p>
          Urban Express Charter is seeking safe courteous drivers who have a CDL class B with a passenger endorsement. Also seeking Non-CDL drivers for some of our smaller vehicles.
          All drivers must have a Department of Transportation (DOT) Physical from a certified physician. Drivers must be drug free and have a clean driving record, as well as a clean background check.

          Required additional training will be provided.
         </p>
      </div>
      <div class="bus-assistant-job-info job-desc"> 
        <p>
          Bus Assistants help the drivers who transport handicap individuals. Bus Assistants must be drug free and have a clean background check. Required additional training will be provided. 
         </p>
      </div>
      <div class="dispatchers-job-info job-desc"> 
        <p>
          Seeking friendly, organized individuals who are familiar with computers and who excel at customer service.  
         </p>
      </div>
      <div class="mechanics-job-info job-desc"> 
        <p>
          Seeking qualified individuals familiar with gas and diesel engines.   
         </p>
      </div>
    </div>
  </div>
</section>
<!--/Compare--> 