<div class="container">
  <div class="section-header">
    <br />
    <h3>Request A Quote</h3>
    <p>Thank you for your interest in Urban Express Charter.  Our large fleet of new and late model vehicles allows us to meet any transportation service you or your organization may need.  Our fleet consists of luxury sedans, elegant mini coaches, handicap accessible vehicles and full size motor coaches.</p>
    <p>
      Please fill out the following form and we will contact you to determine the best way we can meet you organization’s transportation needs
    </p>
  </div>
  <div id="exTab3"> 
    <ul  class="nav nav-pills">
      <li class="active">
        <a  href="#1b" data-toggle="tab">Airport Pickup</a>
      </li>
      <li><a href="#2b" data-toggle="tab">Airport Dropoff</a>
      </li>
      <li><a href="#3b" data-toggle="tab">Out of Town Charter</a>
      </li>
      <li><a href="#4b" data-toggle="tab">Long Term Contracts</a>
      </li>
    </ul>

    <div class="tab-content clearfix">
      <div class="tab-pane active" id="1b">
        <%= render 'web_page/partials/airport_pickup_form' %>
      </div>
      <div class="tab-pane" id="2b">
        <%= render 'web_page/partials/airport_dropoff_form' %>
      </div>
      <div class="tab-pane" id="3b">
        <%= render 'web_page/partials/out_of_town_form' %>
      </div>
      <div class="tab-pane" id="4b">
        <%= render 'web_page/partials/contract_form' %>
      </div>
    </div>
  </div>


</div>