<!--Page Header-->
<section class="page-header services_page">
  <div class="container">
    <div class="page-header_wrap">
      <div class="page-heading">
        <h1>Our Services</h1>
      </div>
      <ul class="coustom-breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Our Services</li>
      </ul>
    </div>
  </div>
  <!-- Dark Overlay-->
  <div class="dark-overlay" style="background: rgba(0, 0, 0, 0.25) none repeat scroll 0 0;"></div>
</section>
<!-- /Page Header--> 

<!--Our-Services-->
<section id="services" class="section-padding">
  <div class="container">

    <div class="section-header text-center">
      <h2>We offer a variety of services.</span></h2>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="services_image"> <img src="assets/images/celebrity.jpg" alt="image">
          <div class="service_heading white-text">
            <h3>Celebrity/VIP/Politicians</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Celebrity/VIP/Politicians</h3>
        <ul>
          <li><i class="fa fa-check" aria-hidden="true"></i>Black car services</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Actors</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Reporters</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Musicians</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>TV Hosts</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Radio Hosts</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Private Services</li>
        </ul>
      </div>
    </div>

    <div class="space-80"></div>
    <div class="row">
      <div class="col-md-6 col-md-push-6">
        <div class="services_image"> <img src="assets/images/airport.jpg" alt="image">
          <div class="service_heading white-text">
            <h3>Airport Shuttle (local/out of town)</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <h3>Airport Shuttle (local/out of town)</h3>
        <ul>
          <li><i class="fa fa-check" aria-hidden="true"></i>Flight Crew</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Residential</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Conventional</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Student/College</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Hospital</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Businesses</li>
        </ul>
        <p>1-55 passengers any vehicle can be used for airport transportation.</p>
      </div>
    </div>
    <div class="space-80"></div>
    <div class="row">
      <div class="col-md-6">
        <div class="services_image"> <img src="assets/images/collegeevents.jpg" alt="image">
          <div class="service_heading white-text">
            <h3>College and student transportation</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3>College and student transportation</h3>
        <ul>
          <li><i class="fa fa-check" aria-hidden="true"></i>School field trips</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Universities</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Graduations</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Competitions/Sporting Events</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Campus Tours</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Spring break trips</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Prom/homecoming</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Trips to games</li>
        </ul>
      </div>
    </div>
    <div class="space-80"></div>
    <div class="row">
      <div class="col-md-6 col-md-push-6">
        <a name="corporate-transportation"></a>
        <div class="services_image"> <img src="assets/images/corporate_events.jpg" alt="image">
          <div class="service_heading white-text">
            <h3>Corporate / Business</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <h3>Corporate / Business</h3>
        <ul>
          <li><i class="fa fa-check" aria-hidden="true"></i>Staff Training</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Business Trips</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>RFP BIDS</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Conventions</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Company events</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Holiday party</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>VIP</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Shuttles airport park and ride and employee shuttles</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Business outings</li>
        </ul>
      </div>
    </div>

    <div class="space-80"></div>
    <div class="row">
      <div class="col-md-6">
        <div class="services_image"> <img src="assets/images/marketing-and-ads.jpg" alt="image">
          <div class="service_heading white-text">
            <h3>Advertising and Marketing</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Advertising and Marketing</h3>
        <p>Advertising and Marketing opportunities available for all of our fleet </p>
      </div>
    </div>

    <div class="space-80"></div>
    <div class="row">
      <div class="col-md-6 col-md-push-6">
        <a name="event-transportation"></a>
        <div class="services_image"> <img src="assets/images/private-events-example.jpg" alt="image">
          <div class="service_heading white-text">
            <h3>Private Events</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <h3>Private Events</h3>
        <ul>
          <li><i class="fa fa-check" aria-hidden="true"></i>Wedding</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Bachelor and bachelorette parties</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Anniversary events</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Holiday shuttles and parties</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Night out on the town</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Casino</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Amusement parks</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Shopping trips (new york red eye)</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Fishing trips</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Camping trips</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Trips to Disney</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Cruises</li>
        
        </ul>
      </div>
    </div>

    <div class="space-80"></div>
    <div class="row">
      <div class="col-md-6">
        <a name="government-transportation"></a>
        <div class="services_image"> <img src="assets/images/government-transportation.jpg" alt="image">
          <div class="service_heading white-text">
            <h3>Government Contracts</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Government Contracts</h3>
        <ul>
          <li><i class="fa fa-check" aria-hidden="true"></i>Long term government contracts provided</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Short term contracts</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Election services</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Transport for FCSO</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>City and state agencies</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Tours of government facilities</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Disaster relief</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Protests</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Medicaid</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Public school transport</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Catering to all special events</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>RFP bids</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Government services (Army, Navy, Air Force, etc)</li>
        </ul>
      </div>
    </div>

    <div class="space-80"></div>
    <div class="row">
      <div class="col-md-6 col-md-push-6">
        <a name="handicap-transportation"></a>
        <div class="services_image"> <img src="assets/images/handicap.jpg" alt="image">
          <div class="service_heading white-text">
            <h3>Handicap Transportation</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <h3>Handicap Transportation</h3>
        <ul>
          <li><i class="fa fa-check" aria-hidden="true"></i>We are the largest certified transportation company to transport handicap and special needs clients</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>FCSO</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Hospital</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Residential (Door-to-door with extra assistance available)</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Medial appointments</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Handicap accessable transportation to any event</li>
        </ul>
        <p>All drivers are CPR and First Aid Certified/ MUI Certified/ Crisis Intervation Certified/ Defensive Driving Certified/ Wheelchair Safety Certified</p>
      </div>
    </div>

  </div>

</section>
<!-- /Our-Services--> 

<!-- Why-Choose-Us-->
<section class="why_choose_us section-padding gray-bg">
  <div class="container">
    <div class="section-header text-center">
      <h2>Why <span>Choose Us</span></h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="listing_box">
          <h5><i class="fa fa-user-circle" aria-hidden="true"></i> Experienced Drivers</h5>
        </div>
        <div class="listing_box">
          <h5><i class="fa fa-car" aria-hidden="true"></i> Wide Range Of Vehicles</h5>
        </div>
        <div class="listing_box">
          <h5><i class="fa fa-globe" aria-hidden="true"></i> Great Customer Service</h5>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="video_box">
          <iframe class="mfp-iframe" src="https://www.youtube.com/embed/NuJ22GTXc9c" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Why-Choose-Us--> 

<!--Testimonial -->
<section class="section-padding testimonial-section parallex-bg">
  <div class="container div_zindex">
    <div class="section-header white-text text-center">
      <h2>What Our <span>Clients Say</span></h2>
    </div>
    <div class="row">
      <div id="testimonial-slider">
        <div class="testimonial-m">
          <div class="testimonial-content">
            <div class="testimonial-heading">
              <h5>John Keipper</h5>
              <span class="client-designation">CEO of xzy company</span> </div>
            <p>I used Urban Express to take a group down to the Kentucky Derby. Our driver was very professional and delivered us right to the main entrance. I would definitely use them again in the future. The service was great!</p>
          </div>
        </div>
        <div class="testimonial-m">
          <div class="testimonial-content">
            <div class="testimonial-heading">
              <h5>Jamal Salih </h5>
              <span class="client-designation">CEO of xzy company</span> </div>
            <p>Great experience with this company I have used many others in columbus but this was by far the best you guys made our trip so easy. Great customer service, wonderful drivers and by far the best and most affordable transportation company I have used in central ohio. Thank you soo much!</p>
          </div>
        </div>
        <div class="testimonial-m">
          <div class="testimonial-content">
            <div class="testimonial-heading">
              <h5>Lisa Sevosa</h5>
              <span class="client-designation">CEO of xzy company</span> </div>
            <p>I hired Urban Express to pick me up at the airport with their Mercedes. I had just got back from a long trip in Germany and was very tired. The driver was on time and extremely courteous and I had no problems at all. I wanted to write a review and share my experience because it was not a good with other Columbus transportation companies.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Dark Overlay-->
  <div class="dark-overlay"></div>
</section>
<!-- /Testimonial--> 
