/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require car_theme/css/bootstrap-slider
 *= require car_theme/css/font-awesome
 *= require car_theme/css/colors/red
 *= require lightbox
 *= require_tree .
 *= require_self
 */

 /*body{
  background-color: #333;
 }
 h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }*/

#navigation li.active{
  background-color: red;
}
#navigation li.active a{
  color: white;
}
.header_search{
  padding: 14px 0;
}
.fun-facts-side{
  display: table;
  height: 188px;
  margin-top: 30px;
}
.what-we-offer{
  text-align: center;
}  
a.btn:visited {
  color: white;
}
.product-listing-content .btn {
}
.btn-quote{
  float: right;
}
.radio input[type=radio], .checkbox input[type=checkbox]{
  display: block;
}
.login_btn{
   margin-bottom: 10px;
}
.social-follow{
  margin-top: -25px;
}
.about_info h5{
  margin-left: 22px;
  margin-right: 22px;
}

.contact_detail li{
  padding-right: 100px;
}

.header_style2 .logo {
    margin: 20px 0 0 0;
}

.section-header h2 span{
  font-weight: bold;
}
#banner2 .item:after {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.dark-overlay {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

#our_services{
  background-image: url('/assets/images/bottom-home.jpg');
}
.vehic-detail-side-img{
  padding-bottom: 15px;
}

/***** vehicule-details page ******/
.listing-detail{
  padding: 15px 0;
}
.vehic-det-quote-btn-div{
padding-bottom: 10px; }
/***** end vehicule-details page ******/

/***** services page ******/
.section-padding{
  padding: 40px 0;
}
.testimonial-section{
  background-color: #ccc;
}
#services ul li{
  list-style: none;
}
/***** end services page ******/

/***** jobs page ******/
.compare_product_title li.listing_heading {
  text-align:center;
}
.compare_product_title, .inventory_info_list {
  margin-bottom: 0;
}
.inventory_info_list .active_job{
  background-color: #bbb;
}
.job-desc{
  background-color: #bbb;
  padding: 30px;
}
.job-desc p{
  font-size: 1.4em; 
}
/***** end jobs page ******/
.reward-points{
  font-size: 1.5em;
}