/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require car_theme/css/bootstrap
 *= require car_theme/css/style
 *= require car_theme/css/owl.carousel
 *= require car_theme/css/owl.transitions
 *= require car_theme/css/slick
 *= require car_theme/css/bootstrap-slider
 *= require car_theme/css/font-awesome
 *= require car_theme/css/colors/red
 *= require lightbox
 *= require chosen
 *= require_tree .
 *= require_self
 */

 /*body{
  background-color: #333;
 }
 h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }*/

/*.radio label:before {
    content: "\2022";
    font-size: 15px;
    text-align: center;
    line-height: 11px;
    color:#fa2837;
    font-size: 35px;
}*/
a.adm-log, div a.adm-log:visited, div a.adm-log:hover {
  background:black;
  color: #555;
  
}
@media (max-width:767px) {
  header .social-follow ul{
    display: none;
  }
   header .social-follow {
    margin-top: 15px;
    display:block;
  }
  .footer-top{
    display: none;
  }
  .product-listing-content .btn{
    padding: 6px 12px;
  }

  .main_features ul li {
    margin: 0 5px 10px 0;
    min-width:115px;
  }
}
#navigation li.active{
  background-color: red;
}
#navigation li.active a{
  color: white;
}
.header_search{
  padding: 14px 0;
}
.fun-facts-side{
  display: table;
  height: 188px;
  margin-top: 30px;
}
.what-we-offer{
  text-align: center;
}  
a.btn:visited {
  color: white;
}
.product-listing-content .btn {
}
.btn-quote{
  float: right;
}
.radio input[type=radio], .checkbox input[type=checkbox]{
  display: block;
}
.login_btn{
   margin-bottom: 10px;
}
.social-follow{
  margin-top: -25px;
}
.about_info h5{
  margin-left: 22px;
  margin-right: 22px;
}

.contact_detail li{
  padding-right: 100px;
}

.header_style2 .logo {
    margin: 20px 0 0 0;
}

.section-header h2 span{
  font-weight: bold;
}
#banner2 .item:after {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.dark-overlay {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

#our_services{
  background-image: url('/assets/images/bottom-home.jpg');
}
.vehic-detail-side-img{
  padding-bottom: 15px;
}
#our_services .section-padding{
  z-index: 100;
  padding-bottom:0px;
}
#our_services .contact_form .form-group{
  margin-bottom:15px;
}
#our_services .contact_form{
  padding-top:0px;
  padding-bottom:0px;
}

/***** vehicule-details page ******/
.listing-detail{
  padding: 15px 0;
}
.vehic-det-quote-btn-div{
padding-bottom: 10px; }
/***** end vehicule-details page ******/

/***** services page ******/
.section-padding{
  padding: 40px 0;
}
.testimonial-section{
  background-color: #ccc;
}
#services ul li{
  list-style: none;
}
/***** end services page ******/

/***** jobs page ******/
.compare_product_title li.listing_heading {
  text-align:center;
}
.compare_product_title, .inventory_info_list {
  margin-bottom: 0;
}
.inventory_info_list .active_job{
  background-color: #bbb;
}
.job-desc{
  background-color: #bbb;
  padding: 30px;
}
.job-desc p{
  font-size: 1.4em; 
}
/***** end jobs page ******/
.reward-points{
  font-size: 1.5em;
}


/******quote request *********/
body {
  padding : 10px ;
  
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}
#exTab3 .nav-pills > li{
  margin-bottom: 0;
}
#exTab3 .tab-content {
  color : white;
  background-color: #bbb;
  padding : 5px 15px;
}

#exTab3 .nav-pills > li.active > a, #exTab3 .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  background-color: #bbb;
}

#exTab3 .form-control{
  height: 35px;
}
#exTab3 .tab-content .error{
  color: red;
}
#exTab3 .nav-pills > li > a{
  background-color: #eee;
}
textarea.white_bg{
color: #888888;
}

#vehic-img-options input{
  display: block;
  width: 26px;
  margin-left: -35px;
  margin-top: -5px;
}
#vehic-img-options label{
  margin-left: 35px;
}
#v-img{
  padding-top: 20px;
  color: white;
}
#vehic-img-options label.radio_buttons{
  display: none;  
}

/****** end quote request *********/

/****** Quote Message Display *********/
tr.message-display.customer{
  background-color: #ddd;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}



::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
/******  End Quote Message Display *********/

/* pagination taken from twitter-bootstrap-static/bootstrap.css */
.pagination{margin:20px 0;}
.pagination ul{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
.pagination ul>li{display:inline;}
.pagination ul>li>a,.pagination ul>li>span{float:left;padding:4px 12px;line-height:20px;text-decoration:none;background-color:#ffffff;border:1px solid #dddddd;border-left-width:0;}
.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span{background-color:#f5f5f5;}
.pagination ul>.active>a,.pagination ul>.active>span{color:#999999;cursor:default;}
.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus{color:#999999;background-color:transparent;cursor:default;}
.pagination ul>li:first-child>a,.pagination ul>li:first-child>span{border-left-width:1px;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;}
.pagination ul>li:last-child>a,.pagination ul>li:last-child>span{-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;}
.pagination-centered{text-align:center;}
.pagination-right{text-align:right;}
.pagination-large ul>li>a,.pagination-large ul>li>span{padding:11px 19px;font-size:17.5px;}
.pagination-large ul>li:first-child>a,.pagination-large ul>li:first-child>span{-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;}
.pagination-large ul>li:last-child>a,.pagination-large ul>li:last-child>span{-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;}
.pagination-mini ul>li:first-child>a,.pagination-small ul>li:first-child>a,.pagination-mini ul>li:first-child>span,.pagination-small ul>li:first-child>span{-webkit-border-top-left-radius:3px;-moz-border-radius-topleft:3px;border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px;border-bottom-left-radius:3px;}
.pagination-mini ul>li:last-child>a,.pagination-small ul>li:last-child>a,.pagination-mini ul>li:last-child>span,.pagination-small ul>li:last-child>span{-webkit-border-top-right-radius:3px;-moz-border-radius-topright:3px;border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px;border-bottom-right-radius:3px;}
.pagination-small ul>li>a,.pagination-small ul>li>span{padding:2px 10px;font-size:11.9px;}
.pagination-mini ul>li>a,.pagination-mini ul>li>span{padding:0 6px;font-size:10.5px;}
/* pagination */

/********* footer **********/
.footer-top{
  background-color:#ccc;
  padding: 0;
}
.footer-top h6{
  margin-bottom: 0;
}
.footer-top ul li a{
  color: black;
}
.footer-top ul li{
  list-style: none;
  float: left;
  margin:30px;
  margin-top: 22px;
  margin-bottom: 0;
}
/********* end footer **********/

.invoice_form input[type="radio"], .invoice_form input[type="checkbox"]{
  margin-top: 30px;
}

.invoice_terms_cond p{
  font-size: 1em ;
  line-height: 20px;
}
#banner2 .carousel-caption{
  top:inherit;
  padding-bottom:20px;
}

ul.quote-invoice-status{
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}
